In [2]:
import pandas as pd
import numpy as np
import pickle

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [26]:
df_train=pd.read_csv('newtrain.csv',index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,177,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2,0,0,132,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,255,214,0,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,114,0,0,...,0,0,0,0,0,0,0,0,0,10

In [27]:
labels=df_train[['784']]

#print(labels.shape)

In [28]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
print(df_train.shape)
df_train.head()

(10042, 784)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,177,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,132,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,214,0,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,114,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
np.random.seed(1212)

In [30]:
labels=np.array(labels)

In [31]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=20)

In [32]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [34]:

df_train

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,177,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,132,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,214,0,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,114,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10037,12,126,178,178,178,178,168,46,0,0,...,0,0,0,0,0,0,0,0,0,0
10038,0,0,0,77,154,178,178,178,178,178,...,0,51,168,0,0,0,0,0,0,0
10039,0,0,0,0,35,77,86,178,178,178,...,178,151,32,0,0,0,0,0,0,0
10040,0,0,0,0,77,134,178,178,178,178,...,0,0,0,0,0,0,0,0,0,0
10041,0,0,0,0,0,0,18,104,178,178,...,0,0,0,0,0,0,0,0,0,0

In [38]:
l=[]
for i in range(len(df_train)):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [39]:
np.random.seed(7)

In [40]:
model=Sequential()
model.add( Conv2D(30, (5, 5), input_shape=( 28, 28,1), activation='relu') )
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(60, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
# model.add(Dense(32, activation='relu'))
model.add(Dense(20, activation='softmax'))

In [41]:
model.compile(loss="categorical_crossentropy", optimizer="adam",metrics=['accuracy'])
#model.summary()

In [42]:
model.fit(np.array(l), cat, epochs=10, shuffle=True)

Epoch 1/10
314/314 [==============================] - 6s 16ms/step - loss: 1.1273 - accuracy: 0.6875
Epoch 2/10
314/314 [==============================] - 5s 17ms/step - loss: 0.3410 - accuracy: 0.8877
Epoch 3/10
314/314 [==============================] - 5s 16ms/step - loss: 0.2274 - accuracy: 0.9190
Epoch 4/10
314/314 [==============================] - 5s 16ms/step - loss: 0.1698 - accuracy: 0.9365
Epoch 5/10
314/314 [==============================] - 5s 16ms/step - loss: 0.1486 - accuracy: 0.9434
Epoch 6/10
314/314 [==============================] - 5s 16ms/step - loss: 0.1315 - accuracy: 0.9481
Epoch 7/10
314/314 [==============================] - 5s 16ms/step - loss: 0.1059 - accuracy: 0.9581
Epoch 8/10
314/314 [==============================] - 5s 17ms/step - loss: 0.1041 - accuracy: 0.9564
Epoch 9/10
314/314 [==============================] - 5s 17ms/step - loss: 0.1079 - accuracy: 0.9568
Epoch 10/10
314/314 [==============================] - 5s 16ms/step - loss: 0.1225 - accuracy: 0.9563

In [43]:
model.save('modelnew.keras')